<header class="text-gray-600 body-font bg-blue-900" >
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    
    <a href="./index" class="flex title-font font-medium items-center text-black mb-4 md:mb-0">
      <img src="./assets/logo.png" class="rounded-md" height="40" width="60"/>
      <span class="ml-3 text-white text-xl">Crisnat Blog</span>
    </a>
    <label for="menu-toggle" class="md:mr-0 md:ml-auto md:py-1 md:pl-4cursor-pointer lg:hidden block"><svg class="fill-current text-white" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>Menu</title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
      <input type = "checkbox" class=" hidden" id="menu-toggle"/>
      <div class = "md:mr-0 md:ml-auto md:py-1 md:pl-4 hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
        <nav>
          <ul class = "lg:flex items-center justify-center text-base text-white pt-auto lg:pt-auto">
            <li>
              <a href = "./index" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent mr-4 text-xl subpixel-antialiased text-white hover:text-gray-300">Home</a>
            </li>
            <li>
              <a href = "./about" class="block border-b-2 border-transparent lg:p-4 py-3 px-0 mr-4 text-xl subpixel-antialiased text-white hover:text-gray-300">About</a>
            </li>
            <li>
              <a href = "./support" class="block border-b-2 border-transparent lg:p-4 py-3 px-0 mr-4 text-xl subpixel-antialiased text-white hover:text-gray-300">Support</a>
            </li>
            <li>
              <a href = "./comicSection/maintanance" class = "block border-b-2 border-transparent lg:p-4 py-3 px-0 mr-4 text-xl text-white hover:text-gray-300">Art</a>
            </li>
            <li>
              <a href = "./comicSection/maintanance" class = "block border-b-2 border-transparent lg:p-4 py-3 px-0 mr-4 text-xl text-white hover:text-gray-300">HelpDesk</a>
            </li>
            <li>
              <a href = "https://krishnakanttripathi988.github.io/dev.crisnat.github.io/" target = "_blank" class = "block border-b-2 border-transparent lg:p-4 py-3 px-0 mr-4 text-xl subpixel-antialiased text-white hover:text-gray-300"><u>Crisnat Dev</u></a>
            </li>
          </ul>
        </nav>
      </div>
    
  </div>
</header>
